*
  margin 0
  padding 0

.App
  display flex
  align-items center
  justify-content center
  width 100vw
  height 100%
  font-family serif
  font-size 28px
  background-color pink
  .text-container
      display flex
      flex-direction column
      align-items center
      justify-content center
      width 65%
      height 100%
      background-color pink
      .text-item
        position relative
        justify-content center
        align-content center
        width 45vw
        height 100vh 
        font-weight 700
        text-align center
        justify-content center
        color #f6f3a3
        background linear-gradient(180deg, rgb(235, 189, 161) 0%, rgb(71, 49, 32) 100%);
        border 1px solid #000
        .text
          height 60vh
          font-size 2rem
          text-align center
          justify-content center
          